In [2]:
# Importando bibliotecas
# Por convenção iremos nomear a biblioteca pandas de pd

import pandas as pd

In [6]:
# Carregar o arquivo cvs contendo as informações para análise
# Pandas vai converter o arquivo em um DataFrame (Estrutura do pandas)
# Por convenção chamamos o DataFrame de df
# O arquivo é separado por ; por isso informamos o separador
# O arquivo é codificado como cp1252

df = pd.read_csv('PDA_UNIDADES_RF_EPCT_CSV.csv', sep = ';', encoding = 'cp1252')

# Mostra as 5 primeiras linhas do DataFrame
df.head()

,CODIGO_UNIDADE,NOME_UNIDADE,DT_AUTORIZA_FUNCIONA_UNID,NOME_REGIAO_UNIDADE,SIGLA_UF_UNIDADE,NOME_MUNICIPIO_UNIDADE,NOME_MESORREGIAO_UNIDADE,NOME_MICRORREGIAO_UNIDADE
0,2879,INSTITUTO FEDERAL DA BAHIA - CAMPUS EUNÁPOLIS,07-01-2009,Nordeste,BA,Eunápolis,Sul Baiano,Porto Seguro
1,2948,INSTITUTO FEDERAL BAIANO - CAMPUS ITAPETINGA,07-01-2009,Nordeste,BA,Itapetinga,Centro Sul Baiano,Itapetinga
2,14328,INSTITUTO FEDERAL DO ACRE - CAMPUS SENA MADUREIRA,30-12-2008,Norte,AC,Sena Madureira,Vale do Acre,Sena Madureira
3,14547,INSTITUTO FEDERAL DE ALAGOAS - CAMPUS ARAPIRACA,06-07-2010,Nordeste,AL,Arapiraca,Agreste Alagoano,Arapiraca
4,32010,INSTITUTO FEDERAL DE ALAGOAS - CAMPUS CORURIPE,22-01-2014,Nordeste,AL,Coruripe,Leste Alagoano,São Miguel dos Campos

In [7]:
# Quantas escolas no arquivo
df.count()

CODIGO_UNIDADE               618
NOME_UNIDADE                 618
DT_AUTORIZA_FUNCIONA_UNID    618
NOME_REGIAO_UNIDADE          618
SIGLA_UF_UNIDADE             618
NOME_MUNICIPIO_UNIDADE       618
NOME_MESORREGIAO_UNIDADE     618
NOME_MICRORREGIAO_UNIDADE    618
dtype: int64

In [9]:
# Mostra os tipos de cada columa do DataFrame
df.dtypes

CODIGO_UNIDADE                int64
NOME_UNIDADE                 object
DT_AUTORIZA_FUNCIONA_UNID    object
NOME_REGIAO_UNIDADE          object
SIGLA_UF_UNIDADE             object
NOME_MUNICIPIO_UNIDADE       object
NOME_MESORREGIAO_UNIDADE     object
NOME_MICRORREGIAO_UNIDADE    object
dtype: object